[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
numpy = "*"
jupyter = "*"
matplotlib = "*"
tensorflow-cpu = "*"

[dev-packages]
nb-black = "*"
black = "*"

[requires]
python_version = "3.9"
